
# Created by https://www.gitignore.io/api/craftcms

### CraftCMS ###
# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/craft/storage/*
!/craft/storage/logo/*
/craft/app/