@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
nav .icon-finix,
nav .icon-menu {
	font-size: 2em;
	line-height: 0.67em;
	display: block;
}
nav .icon-web,
nav .icon-brand,
nav .icon-email,
nav .icon-print,
nav .icon-social {
	font-size: 3em;
}
.icon-finix:before {
	content: "\e600";
}
.icon-web:before {
	content: "\e601";
}
.icon-brand:before {
	content: "\e602";
}
.icon-email:before {
	content: "\e603";
}
.icon-print:before {
	content: "\e604";
}
.icon-social:before {
	content: "\e605";
}
.icon-phone:before {
	content: "\e606";
}
.icon-menu:before {
	content: "\e607";
}
.icon-arrow_left:before {
	content: "\e608";	
}
.icon-arrow_right:before {
	content: "\e609";
}