/*
--------------------------
PARADATA BRAND GUIDE
--------------------------
Primary Color    | #0387ab
Secondary Color  | #75bbce
Red			     | #d95251
Yellow		     | #f7c757
Light Gray		 | #f3f3f3
Mid Gray		 | #ccc
Dark Gray	     | #222
--------------------------
*/

.primary-bg {
	background: #0387ab;
}
.primary-txt {
	color: #0387ab;
}
.secondary-bg {
	background: #75bbce;
}
.secondary-txt {
	color: #75bbce;
}
.yellow-bg {
	background: #f7c757;
}
.yellow-txt {
	color: #f7c757;
}
.red-bg {
	background: #d95251;
}
.red-txt {
	color: #d95251;
}
.lightgray-bg {
	background: #f3f3f3;
	color: black;
}
.midgray-bg {
	background: #ccc;
}
.darkgray-bg {
	background: #222;
}
.darkgray-txt {
	color: #222;
}
.wrapper {
	width: 100%;
	max-width: 1000px;
}
.middle {
	margin: 0 auto;
}
.pad {
	padding: 20px;
}
* {
	box-sizing: border-box;
}
body {
	background: url("../images/backgrounds/texture_tile-bg.png") ;
	background-attachment: fixed;
	color: #222;
	margin: 0;
	font-family: "Quicksand", sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: 400;
	line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
h1 {
	font-size: 48px;
}
h3 {
	font-size: 24px;
}
p {
	font-size: 20px;
}
header {
	background: #586473;
	border: none;
	position: fixed;
}
header nav ul {
	width: auto;
	margin: 0;
	padding: 0;
	float: right;
}
header nav li {
	line-height: 40px;
	display: inline-block;
	float: left;
}
header nav a {
	color: #fff;
	height: 80px;
	padding: 20px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
}
header nav li a:hover {
	color: #75bbce;
	border-bottom: 4px solid #75bbce;
}
.logo {
	float: left;
}
.logo a {
	background: url("../images/paradata-logo.png") 20px 24px no-repeat;
	background-size: 200px 40px;
	width: 240px;
	height: 80px;
}
.logo a:hover {
	background: url("../images/paradata-logo-alt.png") 20px 24px no-repeat;
	background-size: 200px 40px;
}
.nav-cta a {
	background: #0387ab;
}
.nav-cta a:hover {
	background: #75bbce;
	color: #fff;
	border: none;
}
.content {
	padding: 0;
	padding-top: 80px;
}

p {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.hero {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/backgrounds/background-homepage-1.jpg");
	background-color: #0387ab;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
}
.parallax-mirror,
.parallax-slider {
	-webkit-transition: none;
	transition: none;
}
.parallax-slider {
	margin: 120px 0 0 0;
}
.hero .button {
	color: #fff;
	margin: 20px 0 120px;
	padding: 10px 15px;
	border: 1px solid #fff;
	border-radius: 20px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}
.hero .button:hover {
	background: #fff;
	color: #75bbce;
	font-weight: 700;
}
.slider {
	background: #fff;
}
.slide {
	position: relative;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.slide p a {
	color: #0387ab;
	border-bottom: 1px solid #0387ab;
}
.slide p a:hover {
	color: #75bbce;
	border-bottom: 1px solid #75bbce;
}
.datascore {
	height: 200px;
	width: 200px;
	border: 5px solid #fff;
	border-radius: 200px;
	position: absolute;
	top: -100px;
	transform: translateX(-50%);
	cursor: pointer;
	display: inline-block;
}
.intro {
	background: #f3f3f3;
}
footer {
	color: #fff;
	border: none;
	position: relative;
}
footer li {
	list-style-type: none;
}
footer a {
	color: #fff;
	font-size: 20px;
}
footer a:hover {
	color: #75bbce;
}
footer p a {
	font-weight: 300;
	text-decoration: none;
}
footer p a:hover {
	text-decoration: none;
}
footer nav a {
	text-transform: uppercase;
}
footer .social li {
	margin: 0 10px 0 0;
	float: left;
}
footer .social li a {
	background: #586473;
	border-radius: 5px;
	float: left;
	display: inline-block;
}
footer .social li a:hover {
	background: #75bbce;
	color: #fff;
}
footer .social li a img {
	width: auto;
	height: 40px;
	float: left;
}

/*CSS added to update page, mostly extracted from the paradata.io homepage.*/
.white-bg.full {
    background: white;
    color: black;
}

.inline-icon {
    width: auto;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

.button-body {
    background: #0387ab;
    color: #fff !important;
    border: none;
}

.button-body:hover {
    background: #75bbce;
    color: #fff !important;
    border: none;
}

.hero .button, .button-body {
    margin: 20px 0;
    padding: 10px 15px;
    font-family: "Quicksand", sans-serif;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.hero .button:hover, .button-body:hover {
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

.texture-bg {
    background-image: url("../images/backgrounds/texture_tile-bg.png");
}

.bubble {
    width: 2em;
    height: 2em;
    margin: 0;
    border-radius: 2em;
    line-height: 2em;
    display: inline-block;
}

footer.full {
    background-image: url("../images/backgrounds/texture_tile-bg.png");
    background-color: black;
}

.white-bg p a, .lightgray-bg p a, .midgray-bg p a {
    border-bottom: 1px solid #0387ab;
}

.white-bg p a:hover, .lightgray-bg p a:hover, .midgray-bg p a:hover {
    border-bottom: 1px solid #75bbce;
}

.white-bg a:hover, .lightgray-bg a:hover, .midgray-bg a:hover, .darkgray-bg a:hover {
    color: #75bbce;
}

button.slidenav {
    color: #f3f3f3;
    padding: 20px;
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    display: table-cell;
}
