/* GENERAL STYLES */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
body,
button {
	font-family: 'Open Sans', sans-serif;
}
body {
	background: url("../images/low_contrast_linen.png") #444;
	background-attachment: fixed;
	color: #444;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 2.5em;
	line-height: 2em;
}
h2 {
	font-size: 2em;
	line-height: 2em;
}
h3 {
	font-size: 1.5em;
	line-height: 2em;
}
h4 {
	font-size: 1.2em;
	line-height: 2em;
}
p {
	font-size: 16px;
	line-height: 1.5em;
}
header {
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #eee;
	float: left;
	position: fixed;
	z-index: 999;
}
header a {
	color: #ccc;
	padding: 20px;
	float: left;
	font-weight: 700;
}
header a:hover {
	color: #7d287d;
}
header a img {
	width: auto;
	height: 30px;
}
nav {}
nav ul li a {
	text-transform: uppercase;
}
ul {
	width: 100%;
	padding: 0;
	margin: 0;
}
ul li {
	line-height: 30px;
	float: left;
	display: inline-block;
	list-style-type: none;
}
ul li a {
	display: block;
}
nav ul li .subnav,
nav ul li .dropdown {
	background: #444;
	height: auto;	
	display: none;
	top: 70px;
	left: 0px;
}
nav ul li:hover > .dropdown,
nav ul li:hover > .subnav {
	display: block;
}
nav ul li .subnav {
	position: absolute;
}
nav ul li .dropdown {
	border-bottom: 1px solid #fff;
	position: fixed;
}
nav ul li .dropdown li a {
	text-align: center;
	text-transform: capitalize;
}
nav ul li .dropdown li img {
	width: 100%;
	max-width: 40px;
	height: auto;
	margin: 0 auto;
}
li.step {
	float: left;
}
li.step p {
	margin: 0;
	line-height: 30px;
}
li.step a {
	color: #444;
	width: 30px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 50%;
}
li.step a:hover {
	color: #7d287d;
	border: 1px solid #7d287d;	
}
li.step.active a {
	background: #7d287d;
	color: #fff;
	border: 1px solid #7d287d;
}
form {}
.form-body {
	border: 1px solid #ccc;
}
.tile {
	border: 1px solid #fff;
	position: relative;
}
.tile img {
	height: 200px;
}
.tile:hover,
.tile:active,
.tile:focus,
.tile:checked {}
.text-box,
.check-box {
	color: #fff;
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	cursor: pointer;
}
.text-box {
	background: rgba(68,68,68,0.8);
	display: block;
}
.tile:hover .text-box,
input[type=checkbox]:checked + label.product > .text-box {
	display: none;
}
.check-box {
	background: rgba(125,40,125,0.8);
	display: none;
}
.check-box img {
	width: 50%;
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
input[type=checkbox]:checked + label.product > .check-box {
	display: block;
}
.button {
	background: none;
	color: #444;
	border: 1px solid #444;
	border-radius: 100px;
	display: block;
	cursor: pointer;
}
.hero .button {
	color: #fff;
	border: 1px solid #fff;
}
.button:hover,
.button:active,
.button:focus,
.button:checked {
	background: #fff;
	color: #7d287d;
	border: 1px solid #7d287d;
}
.cta,
.submit {
	padding: 15px 20px;
	font-weight: 700;
	text-transform: uppercase;
}
label {
	cursor: pointer;
}
input,
select {
	height: 40px;
	padding: 10px;
}
button:active, button:focus, button:hover,
input:active, input:focus, input:hover,
select:active, select:focus, select:hover {
	outline: none;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox] + label.product {
	background: #444;
	display: inline-block;
	padding: 5px;
}
input[type=checkbox] + label.product:hover,
input[type=checkbox]:checked + label.product {
	background: #7d287d;
}
input[type=submit] {}
input[type=text] {
	display: inline-block;
}
::-webkit-input-placeholder {
	color: #444;
}
:-moz-placeholder /* Firefox 18- */ {
	color: #444;
}
::-moz-placeholder /* Firefox 19+ */ {
	color: #444;
}
:-ms-input-placeholder {
	color: #444;
}
footer {
	color: #fff;
	border-top: 1px solid #ccc;
	position: absolute;
}
footer p a {
	color: #fff;
	font-weight: 700;
}
footer p a:hover {
	text-decoration: underline;
}

.copyright p {
	font-size: 0.75em;
}
.copyright p a:hover {
	color: #f52;
}
.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
#content {
	width: 100%;
	padding: 71px 0 0 0;
}
.slider {height: 100%;}
.slide {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 40px 0;
	position: relative;
}
.slide.ng-animate {
	top: 0px;
}
.slide.ng-hide {
	left: -100%;
	top: 0px;
}
.slide.ng-hide-remove-active {
	left: 100%;
}
.slide.ng-hide-remove {
	left: 0%;
}
button#prev {
	left: 0;
}
button#next {
	right: 0;
}
button.slidenav {
	background: none;
	color: rgba(0,0,0,0.2);
	height: 100%;
	margin: 0;
	padding: 20px;
	border: none;
	font-size: 50px;
	line-height: 50px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	display: table-cell;
	z-index: 998;
}
button.slidenav:hover {
	background: rgba(255,255,255,0.2);
	color: #fff;
	cursor: pointer;
}
button.slidenav:focus {
	outline: none;
}
.content {
	padding: 20px;
}
.hero {
	color: #fff;
}
.hero img {
	max-width: 100%;
}
.subsection {
	background: #fff;
}
.subsection p a {
	font-weight: 700;
	color: #444;
}
.subsection p a:hover {
	color: #7d287d;
}
.subsection-alt {
	background: #ccc;
}
a.sublink {
	color: #444
}
a.sublink:hover {
	background: rgba(68,68,68,0.1);
}
#bbb {
	position: relative;
	top: 50%;
	transform: translateY(50%);
}
.center {
	text-align: center;
}
.middle {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.checkmark {
	max-height: 150px;
	max-width: 150px;
}
.right-float {
	float: right;
}
#submit {
	background: rgba(57,181,64,0.7);
	padding: 30px;
	float: right;
	display: none;
}
#submit,
#submit h3,
#submit a {
	color: #fff;
}
.panel {}
.category {
	width: 260px;
	padding: 15px 30px;
	float: left;
}
#title {
	background: rgba(255,255,255,0.7);
	padding-bottom: 0px;
	position: fixed;
}
.list {
	width: 100%;
	float: left;
}
.italics {
	font-size: 0.8em;
	font-style: italic;
}
#displayracks {
	background: #999;
	color: #fff;
	width: 100%;
	margin-top: 1px;
	padding: 20px;
	border-top: 4px solid #00cc00;
}
#displayracks h4 {
	color: #fff;
}
.overlay {
	background: rgba(0,0,0,0.2);
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	display: none;
}

/* DEVICES */
@media screen and (max-width: 960px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 640px), only screen and (-webkit-device-pixel-ratio: 2) {
	p {
		font-size: 32px;
	}
	#content {
		top: 140px;
	}
	.category {
		width: 100%;
	}
	.slide {
		padding: 0;
	}
	.slide h1 {
		margin-top: 0;
	}
	button.slidenav {
		display: none;
	}
}
@media screen and (max-width: 585px), only screen and (-webkit-device-pixel-ratio: 2) {}