<div class="main full ng-scope" ng-view="" autoscroll="true"><!-- ngInclude:  --><div class="chimera full ng-scope" ng-include="" src="template"><div class="content full ng-scope">
	<div class="hero home full ng-isolate-scope" parallax-background="" parallax-ratio="0.2" style="background-position: 50% 16px;"><div ng-transclude="">
		<div class="hero-overlay full ng-scope">
			<div class="slideshow full ng-isolate-scope" slideshow="healthscore">
	<div class="wrapper middle">
		<!-- ngRepeat: slide in slides --><div class="slide white-txt full ng-scope" ng-repeat="slide in slides" ng-show="slide.visible" ng-animate="animate" ng-swipe-left="next()" ng-swipe-right="prev()">
			<div class="full pad center">
				<h1>Transparency meets supply chain</h1>				
			</div>
			<a class="half pad" ng-click="next()">
				<img class="full healthscore middle" title="The Network Score℠" src="./paradata_files/icon_networkscore.png">
			</a>
			<div class="half pad white-txt">
				<h2 class="ng-binding">The Network Score℠</h2>
				<p>
					<i>
						<!-- ngRepeat: question in slide.questions --><span ng-repeat="question in slide.questions" class="ng-binding ng-scope">"If your product could say what it needs to be healthy, what would it say?"<br></span><!-- end ngRepeat: question in slide.questions -->
					</i>
				</p>
				<p class="ng-binding">The Paradata Network Score measures a supply chain in four dimensions: Leadtime, Cost, Compliance, and Risk.</p>
				<a class="button ng-scope" ng-controller="SalesforceController" ng-click="popover()">What's your score?</a>
			</div>
		</div><!-- end ngRepeat: slide in slides --><div class="slide white-txt full ng-scope ng-hide" ng-repeat="slide in slides" ng-show="slide.visible" ng-animate="animate" ng-swipe-left="next()" ng-swipe-right="prev()">
			<div class="full pad center">
				<h1>Transparency meets supply chain</h1>				
			</div>
			<a class="half pad" ng-click="next()">
				<img class="full healthscore middle" title="Leadtime" src="./paradata_files/icon_leadtime.png">
			</a>
			<div class="half pad white-txt">
				<h2 class="ng-binding">Leadtime</h2>
				<p>
					<i>
						<!-- ngRepeat: question in slide.questions --><span ng-repeat="question in slide.questions" class="ng-binding ng-scope">"Which components will prevent me from shipping product?"<br></span><!-- end ngRepeat: question in slide.questions -->
					</i>
				</p>
				<p class="ng-binding">Leadtime scoring evaluates and simulates the impact of component decisions before committing... that’s transparency.</p>
				<a class="button ng-scope" ng-controller="SalesforceController" ng-click="popover()">What's your score?</a>
			</div>
		</div><!-- end ngRepeat: slide in slides --><div class="slide white-txt full ng-scope ng-hide" ng-repeat="slide in slides" ng-show="slide.visible" ng-animate="animate" ng-swipe-left="next()" ng-swipe-right="prev()">
			<div class="full pad center">
				<h1>Transparency meets supply chain</h1>				
			</div>
			<a class="half pad" ng-click="next()">
				<img class="full healthscore middle" title="Cost" src="./paradata_files/icon_cost.png">
			</a>
			<div class="half pad white-txt">
				<h2 class="ng-binding">Cost</h2>
				<p>
					<i>
						<!-- ngRepeat: question in slide.questions --><span ng-repeat="question in slide.questions" class="ng-binding ng-scope">"Are my component prices market competitive?"<br></span><!-- end ngRepeat: question in slide.questions --><span ng-repeat="question in slide.questions" class="ng-binding ng-scope">" What should I be paying based on future demand?"<br></span><!-- end ngRepeat: question in slide.questions -->
					</i>
				</p>
				<p class="ng-binding">Cost scoring measures the variance between supplier-provided costs vs the best available market cost... that’s transparency.</p>
				<a class="button ng-scope" ng-controller="SalesforceController" ng-click="popover()">What's your score?</a>
			</div>
		</div><!-- end ngRepeat: slide in slides --><div class="slide white-txt full ng-scope ng-hide" ng-repeat="slide in slides" ng-show="slide.visible" ng-animate="animate" ng-swipe-left="next()" ng-swipe-right="prev()">
			<div class="full pad center">
				<h1>Transparency meets supply chain</h1>				
			</div>
			<a class="half pad" ng-click="next()">
				<img class="full healthscore middle" title="Compliance" src="./paradata_files/icon_compliance.png">
			</a>
			<div class="half pad white-txt">
				<h2 class="ng-binding">Compliance</h2>
				<p>
					<i>
						<!-- ngRepeat: question in slide.questions --><span ng-repeat="question in slide.questions" class="ng-binding ng-scope">"Are all my products compliant to current regulations?"<br></span><!-- end ngRepeat: question in slide.questions --><span ng-repeat="question in slide.questions" class="ng-binding ng-scope">"Am I prepared for new regulations?"<br></span><!-- end ngRepeat: question in slide.questions -->
					</i>
				</p>
				<p class="ng-binding">Compliance scoring measures the ability of product data to support rigorous examination of import/export compliance... that’s transparency.</p>
				<a class="button ng-scope" ng-controller="SalesforceController" ng-click="popover()">What's your score?</a>
			</div>
		</div><!-- end ngRepeat: slide in slides --><div class="slide white-txt full ng-scope ng-hide" ng-repeat="slide in slides" ng-show="slide.visible" ng-animate="animate" ng-swipe-left="next()" ng-swipe-right="prev()">
			<div class="full pad center">
				<h1>Transparency meets supply chain</h1>				
			</div>
			<a class="half pad" ng-click="next()">
				<img class="full healthscore middle" title="Risk" src="./paradata_files/icon_risk.png">
			</a>
			<div class="half pad white-txt">
				<h2 class="ng-binding">Risk</h2>
				<p>
					<i>
						<!-- ngRepeat: question in slide.questions --><span ng-repeat="question in slide.questions" class="ng-binding ng-scope">"What is my sole source component status by product?"<br></span><!-- end ngRepeat: question in slide.questions --><span ng-repeat="question in slide.questions" class="ng-binding ng-scope">"Do I have any components going end of life?<br></span><!-- end ngRepeat: question in slide.questions --><span ng-repeat="question in slide.questions" class="ng-binding ng-scope">If yes, which ones?"<br></span><!-- end ngRepeat: question in slide.questions -->
					</i>
				</p>
				<p class="ng-binding">Risk scoring measures how a component is sourced, proximity to manufacturing locations, supplier performance... that’s transparency.</p>
				<a class="button ng-scope" ng-controller="SalesforceController" ng-click="popover()">What's your score?</a>
			</div>
		</div><!-- end ngRepeat: slide in slides -->
	</div>
	<button id="prev" class="slidenav" ng-click="prev()"><span class="icon-arrow_left"></span></button>
	<button id="next" class="slidenav" ng-click="next()"><span class="icon-arrow_right"></span></button>
</div>
