<div class="full">
	<h3>Contact</h3>
	<p>
		{{ client.client.company }} {{ client.client.type }}
	</p>
	<p ng-repeat="location in client.client.locations">
		{{ location.address.street }}<br>
		{{ location.address.city }}, {{ location.address.state }} {{ location.address.zip }}
	</p>
	<p>
		Email: <a href="mailto:{{ client.client.contact.email }}">{{ client.client.contact.email }}</a><br>
		Phone: <a href="tel:1-{{ client.client.contact.phone }}">{{ client.client.contact.phone }}</a><br>
		Cell: <a href="tel:1-{{ client.client.contact.cell }}">{{ client.client.contact.cell }}</a><br>
		Fax: <a href="">{{ client.client.contact.fax }}</a>
	</p>
</div>